
/* Font-Family */
@import url('../css/fonts.css');

body{
    margin: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Variables */
:root{

/* Colors */
   --text-gray: #3f4954;
   --text-light: #686666da;
   --bg-color: #0f0f0f;
   --white: #ffffff;
   --midnight: #104f55;

   /* Gradient Colors */
    --sky:linear-gradient(120deg,#a1c4fd 0%, #c2e9fb 100%);

   /* Font-Family */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;

}

/* ------ Global Classes ------ */

a{
    text-decoration: none;
    color: var(--text-gray);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 40px;
    font-family: var(--Lexend);
}
h2{
    font-family: var(--Lexend);
}
h3{
    font-size: 20px;
    font-family: var(--Abel);
}
button.btn{
    border: none;
    border-radius: 32px;
    padding: 16px 48px;
    cursor: pointer;
    font-family: var(--Livvic);
    font-size: 16px;
}
span{
    font-family: var(--Abel);
}
.container{
    margin: 0 5vw;
}
.text-gray{
    color: var(--text-gray);
}
p{
    font-family: var(--Lexend);
    color: var(--text-light);
}
/* ---x--- Global Classes ---x--- */

/* ------ Nav ------ */
.nav{
    margin: 0%;
    padding: 0 5px;
    height: 0;
    min-height: 10vh;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}
.collapse{
    height: 435px;
}
.nav .nav-brand a{
    font-size: 25px;
    display: block;
    padding: 15px 15px;
    font-family: var(--Lexend);
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 96%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icon{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.nav .toggle-collapse .toggle-icon i{
    font-size: 25px;
    color: var(--text-gray);
}
.nav .nav-menu{
    justify-content: space-between;
}
.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-links{
    padding: 20px 10px;
    font-size: 20px;
    position: relative;
    font-family: var(--Abel);
}
.nav .nav-items .nav-links:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-links:hover a{
    color: var(--white);
}
.nav .social{
    padding: 22px 15px;
}
.nav .social a{  
    font-size: 18px;
}
.nav .social i{  
    padding: 0 2px;
}
.nav .social i:hover{  
    color: #a1c4cf;
}
/* ---x--- Nav ---x--- */


/* ----------- Main-Content ------------ */

/* ----------- Background & Title ------------ */
main .site-title{
    background: url('../images/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .site-title .site-background{
    padding: 160px 0 0 0;
    color: var(--white);
    text-align: center;
}
main .site-title h1,h3{
    margin: 5px;
}
main .site-title .btn{
    margin: 30px;
    background: var(--sky);
}
main .site-title .btn:hover{
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
}
/* -----x------ Background & Title -------x----- */


/* ----------- Carousel ------------ */
main .blog{
    background: url('../images/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65%;
    overflow: hidden;
}
main .blog .blog-post{
    padding-top: 96px;

}
main .blog .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 48px 32px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}
main .blog .blog-post .blog-content .blog-title{
    padding: 32px 0;
}
main .blog .blog-post .blog-content .blog-title .btn-blog{
    padding: 12px 32px;
    background: var(--sky);
    margin: 8px;
}
main .blog-content .blog-title span{
    display: block;
}
section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 32px;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
    outline: none;
}
.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}
/* -----x------ Carousel -------x----- */


/* ----------- Blog-Posts ------------ */
main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
main .post-content{
    width: 100%;
}
main .site-content .post-content > .post-image, .post-title{
    padding: 16px 32px;
    position: relative;
}
main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 16px;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 48px;
}
main .site-content .post-content > .post-image >div{
    overflow: hidden;
}
main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}
main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}
main .site-content .post-content .post-title a{
    font-family: var(--Anton);
    font-size: 24px;
}
main .site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: 12px 24px;
    background: var(--sky);
}

.pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 64px 0;
}
.pagination a{
    font-family: var(--Lexend);
    margin: 0 5px;
    padding: 10px 14px;
    border-radius: 32px;
}
.pagination .pages{
    background-color: var(--text-gray);
    color: var(--white)
}


/* ----------- Sidebar ------------ */
.site-content .sidebar .category-list{
    font-family: var(--Livvic);
}
.site-content .sidebar .category-list .list-items{
    background: var(--sky);
    padding: 7px 16px;
    margin: 13px 0;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.site-content .sidebar .category-list .list-items a{
    color: black;
}

.site-content .sidebar .popular-post .post-content{
    padding: 16px 0;
}
.site-content .sidebar .popular-post h2{
    padding-top: 64px;
}
.site-content .sidebar .popular-post .post-info{
    background: white!important;
    border-radius: 0px!important;
    padding: 6px 2px!important;
    bottom: 8px!important;
    left: 30px!important;
}
.site-content .sidebar .popular-post .post-title a{
    font-size: 16px;
}
.site-content .sidebar .newsletter{
    padding-top: 195px;
}
.site-content .sidebar .newsletter .form-element{
    padding: 8px 32px;
}

.site-content .sidebar .newsletter .form-element .input-element{
    width: 80%;
    height: 30px;
    font-family: var(--Lexend);
    font-size: 16px;
    padding: 5px 8px;
    outline: none;
}
.site-content .sidebar .newsletter .form-element .form-btn{
    border-radius: 0;
    padding: 13px 31%;
    background: var(--sky);
    margin: 16px 0;
}
.site-content .sidebar .popular-tags{
    padding-top: 80px 0;
}

.site-content .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    padding: 8px 16px;
    margin: 7px 10px;
    border-radius: 48px;
}


/* -----x------ Sidebar -------x----- */


/* -----x------ Blog-Posts -------x----- */

/* -----x------ Main-Content -------x----- */


/* ----------- Footer ------------ */
footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 48px 15px;
}
footer .container h2{
    color: var(--white);
}
footer .container .newsletter .form-element{
    background: black;
    display: inline-block;
}
footer .container .newsletter .form-element input{
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    width: 70%;
    font-family: var(--Josefin);
    padding: 8px 12px;
}
footer .container .newsletter .form-element span{
    background: var(--sky);
    padding: 7px 15px;
    cursor: pointer;
}
footer .container .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 5px 7px;
}
footer .container .follow div i{
    color: var(--white);
    padding: 0 6px;
    cursor: pointer;
}
footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}
footer .rights a{
    color: var(--white);
}
footer .bottom-to-top{
    position: absolute;
    right: 6%;
    top: 50%;
}
footer .bottom-to-top span{
    color: var(--midnight);
}

footer .bottom-to-top span:hover{
    color: var(--white);
    cursor: pointer;
}

/* -----x------ Footer -------x----- */


@media only screen and (max-width:520px){
    main .site-content .post-content > .post-image .post-info{
        display: none!important;
    }
    main .blog{
        height: 125vh;
    }
    footer .container > div{
        padding: 16px 15px;
    }
    
    footer .rights{
        padding: 0 22px;
        text-align: center;
    }
   
}



/* Toggle-icon */
@media only screen and (max-width:750px){
    .nav .nav-menu,.nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    main .site-content{
        grid-template-columns: 100%;
    }
    footer .container{
        grid-template-columns: repeat(1, 1fr)!important;
    }
    .newsletter .form-element .form-btn {
        width: 84%!important;
        padding: 13px 31%!important;
    }
   
}

/*  Post info */
@media only screen and (max-width:1130px){
    main .site-content .post-content > .post-image .post-info{
        left: 32px!important;
        bottom: 19px!important;
        border-radius: 0!important;
    }
    .site-content .sidebar .popular-post .post-info{
        display: none!important;
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .newsletter .form-element .form-btn {
        padding: 13px 30px!important;
        width: 95%!important;
    }
    footer .container > div{
        padding: 16px 15px;
    }
   
}



















